<div class="row d-flex m-4" style="width: 300px; height: auto; border: 2px solid #ffc107;
border-radius: 5px;">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mt-2">
        <h4>{{product?.id}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>{{product?.price}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6>{{product?.type}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img src={{product?.image}}, style="width: 200px; height: auto;" />
      </div>
    </div>

<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <h6> Students:  {{course.studentsSignedIn}}/{{course.maxStudents}}</h6>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row mb-3">-->
<!--      <button class="btn btn-warning col-4 ml-2 mr-2" (click)="shareNews()"-->
<!--      ><i class="fa fa-bullhorn mr-1"></i>News</button>-->
<!--      <button class="btn btn-warning col-3 mr-2" (click)="editCourse()"><i class="fa fa-edit mr-1"></i>Edit</button>-->
<!--      <button *ngIf="false" type="button" class="btn btn-danger col-2 offset-1 ml-4 mr-1 d-flex align-items-center justify-content-center" (click)="deleteCourse()"><i class="fa fa-trash mr-1"></i></button>-->
<!--    </div>-->
  </div>
</div>
