<div class="row d-flex m-4" style="width: 300px; height: auto; border: 2px solid #ffc107;
border-radius: 5px;">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mt-2">
        <h4>{{product?.id}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2">
        <h6>{{product?.price}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2">
        <h6>{{product?.type}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <mat-select [(value)]="quantityForProduct">
            <mat-option>None</mat-option>
            <mat-option value="option1">1</mat-option>
            <mat-option value="option2">2</mat-option>
            <mat-option value="option3">3</mat-option>
            <mat-option value="option4">4</mat-option>
            <mat-option value="option5">5</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img src={{product?.image}}, style="width: 200px; height: auto;"/>
      </div>
    </div>

    <div class="row mb-3">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteProductFromBasket()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
