<div class="row">
  <div class="col-2">
    <p-sidebar [visible]="true" position="left" [style]="{width:'17%'}" [showCloseIcon]="false"
               [dismissible]="false" [modal]="false">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img [src]="logoImage" style="width: 200px; height: auto;" />
        </div>
      </div>
      <div class="row m-2 mb-3">
        <h4><b>MENU</b></h4>
      </div>
      <div class="row ml-1 mt-1">
        <button type="button" class="mr-2 btn btn-light" routerLinkActive="active" [disabled]="!isLoggedIn || isAdmin"
                style="width: 100%;" [routerLink]="['/client']"><i class="pi pi-file" style="float: left;"></i>Clients</button>
      </div>
      <div class="row ml-1 mt-1">
        <button type="button" class="mr-2 btn btn-light" routerLinkActive="active" [disabled]="!isLoggedIn || !isAdmin"
                style="width: 100%;" [routerLink]="['/admin']"><i class="pi pi-file" style="float: left;"></i>Admin</button>
      </div>
    </p-sidebar>
  </div>
  <div class="col-10 login-page" *ngIf="!isRegistering">
    <form (submit)="login()" class="login-form" ngNativeValidate>

    <input type="text" class="col-7 form-control" name="userName" [(ngModel)]="user.email"
            placeholder="Username" required/>

    <input type="password" class="col-7 form-control" name="password" [(ngModel)]="user.password"
            placeholder="Password" required/>
      <button type="submit" class="mr-2 btn btn-dark">Log in</button>
      <button type="button" class="mr-2 btn btn-dark register-button" (click)="toggleRegister()">Don't have an account? Register</button>
    </form>
    <app-all-products></app-all-products>
    <router-outlet>
    </router-outlet>
  </div>
  <div class="login-page" *ngIf="isRegistering">
    <app-register ></app-register>
  </div>
</div>

<p-toast></p-toast>
