
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.login-form {
  max-width: 500px;
  width: 100%;
  padding: 8px;
}

.login-form > * {
  margin: 5px 0;
}

.login-form .register-button {
  margin-left: 5px;
}
