<div class="container">
  <h1 class="row m-3">Products</h1>
  <div class="row mb-3 align-items-center justify-content-start">
    <div class="col-lg-1 col-2">
      Product name
    </div>
    <div class="col-lg-2 col-4">
      <input class="w-100" type="text" name="filter" [(ngModel)]="filterText">
    </div>

    <div class="col-lg-1 col-2">
      Price interval
    </div>
    <div class="col-lg-2 col-4 d-flex price-inputs">
        <input class="w-100 mr-3 " type="number" name="minPrice" [(ngModel)]="minPrice" value="1" min="0" max="120000"/>
      -
        <input class="w-100 ml-3" type="number" name="maxPrice" [(ngModel)]="maxPrice" value="50000" min="0" max="120000"/>
    </div>

    <div class="col-lg-2 col-4 d-flex">
      <mat-checkbox [(ngModel)]="sortAscending" class="w-100">Sort ascending</mat-checkbox>
    </div>

    <div class="col-lg-2 col-3">
      <button class="btn btn-primary" (click)="filter()"><i class="fa fa-search mr-2"></i>Search</button>
    </div>

    <div class="col-lg-2 col-3">
      <button class="btn btn-primary" (click)="reset()">Reset</button>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!products || products.length === 0" class="col-12">
      <h6>There aren't any products to be displayed</h6>
    </div>
    <div *ngIf="products && products.length > 0">
      <div *ngFor="let product of products">
        <app-product-card [product]="product" (messageToShow)="messageReceived($event)"></app-product-card>
      </div>
    </div>
  </div>
</div>
