<h1 class="m-3">My orders</h1>
<div class="placeholder-product-feedback-widget mrg-btm-sm"></div>

<div class="order-filters more-space-top">
  <div class="gui-form-row d-flex">
    <form id="list-options" action="/history/shopping">
      <label for="order-filters-showing">See</label>
      <select class="gui-input select2" id="order-filters-showing" name="status">
        <option value="status" selected="">order status</option>
        <option value="date">date of last order</option>
        <option value="sort">sortare asc</option>
      </select>
      <label for="order-filters-from">from</label>
      <select class="gui-input select2" name="time" id="order-filters-from">
        <option value="older">All</option>
      </select>
    </form>
    <div class="ohps-container">
      <div class="col-2">
        <button class="btn btn-primary" (click)="filter()"><i class="fa fa-search mr-2"></i>Filter</button>
      </div>
    </div>
      <div class="row" style="width: 700px; margin: 0;">
        <div class="col-12">
          <p-table *ngIf="orders.length > 0" [value]="orders">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr>
                <td>{{order.id}}</td>
                <td>
                  <div>
                    {{order.client.id}}
                    {{order.client.name}}
                    {{order.client.email}}
                    {{order.client.phoneNumber}}
                  </div>
                </td>
                <td>{{order.status}}</td>
              </tr>
            </ng-template>
          </p-table>

          <div *ngIf="orders.length === 0" class="row d-flex text-center">
            <div class="col-12">
              There are no orders placed yet.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



