<div class="container">
  <h1 class="row m-3">My basket</h1>
  <div *ngIf="!products || products.length === 0" class="row">
    <h6>Empty basket</h6>
  </div>

  <div *ngIf="products && products.length > 0" class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col flex-wrap">
        <app-mybasket-card [product]="product" (messageToShow)="messageReceived($event)"></app-mybasket-card>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-flat-button class="" (click)="placeOrder()">Place order</button>
  </div>
</div>
